.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-secondary);
  color: var(--text);
  padding: 128px 16px;
  align-items: center;
  // gap: 64px;
  position: relative;

  @media (min-width: 774px) {
    padding: 128px;
    // gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: url("/assets/divider.svg");
    background-repeat: repeat-x;
    z-index: 1;
  }

  .article-heading {
    display: flex;
    color: var(--clr-secondary);
    margin-bottom: 64px;
    @media screen and (max-width: 667px) {
      font-size: 56px;
      text-align: center;
    }
  }

  .article-list {
    display: grid;
    justify-content: center;
    gap: 64px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 98px;
      max-width: 1226px;
      justify-content: center;
    }
  }

  .article-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    max-width: 564px;
    @media (max-width: 1279px) and (min-width: 744px) {
      max-width: 100%;
    }
  }

  // Article image
  .article-img-container {
    max-height: 340px;
    overflow: hidden;
  }

  // Article content
  .article-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .tag-background {
      background-color: var(--text);
      padding: 2px 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      p.tag-text {
        color: var(--clr-white);
        font-size: 1rem;
      }
    }
  }
}
